<html xmlns:th="http://www.thymleaf.org">
<head><meta charset="ISO-8859-1">
<title>Jobiak.ai</title>
</head>
<body>
	<h1>Test Success $%#@$</h1>
	
	<h2 th:text="${user.acctno}"style="background-color: pink;"></h2>
	<h2 th:text="${user.name}"style="background-color: blue;"></h2>
	<h2 th:text="${user.type}"style="background-color: green;"></h2>
	<h2 th:text="${user.balance}"style="background-color: orange;"></h2>
	<h2 th:text="${user.location}"style="background-color: yellow;"></h2>
</body>
</html>
